#box1 {
    width: 250px;
    height: 250px;
    background: red;
    font-size: 225px;
    text-align: center;

    /*
    animation: mySlide;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-duration: 5s;
    */
    /* duration, timing, iteration, play-state, name */
    animation: 3s linear 0s infinite running myColorChange;
}

/*
#box1:active {
    animation: 3s linear 0s infinite running mySlide;
}*/

@keyframes mySlide {
    from {margin-left: 0%;}
    to {margin-left: 100%;}
}

@keyframes myRotate {
    100% {transform: rotatez(360deg)}
}

@keyframes myOpacity {
    25% {opacity: 0}
}

@keyframes myScale {
    50% {transform: scale(0.5, 0.5);}
}

@keyframes myColorChange {
    20% {background-color: orange;}
    40% {background-color: yellow;}
    60% {background-color: green;}
    80% {background-color: blue;}
    100% {background-color: purple;}
}