body {
    display: flex;
}

.box {
    background: rebeccapurple;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.main {
    flex-grow: 1;
}

.sidebar {
    width: 30%;
    border-left: 1px solid black;
}

.main, .sidebar {
    container-type: inline-size;
}

/* if container is greater than 600 px execute this */
@container (width >= 600px) {
    .box {
        background: red;
    }
}

/* you can also do ranges with media queries
@media (100px <= width <= 300px) {
    .box {
        background: red;
    }
} */